{:kotoba.package/name "kotoba-lang/docs"
 :kotoba.package/version "0.1.0"
 :kotoba.package/status :draft-unpublished
 :kotoba.package/kind :library
 :kotoba.package/repo-rid "bafyrepodocs11111111111111111111111111111111111111111111111"
 :kotoba.package/source
 {:git-commit "da1badb3aa840d68a53d1823b129ac66f6e49a0c"
  :tree-cid "bafytreedocs11111111111111111111111111111111111111111111111"
  :manifest-cid "bafymanifestdocs1111111111111111111111111111111111111111"}
 :kotoba.package/build
 {:deterministic true
  :profile-version 1}
 :kotoba.package/capabilities []
 :kotoba.package/provides [:app.kotoba.docs.document
                           :app.kotoba.docs.blocks]
 :kotoba.package/consumes [:app.kotoba.slides.deck
                           :app.kotoba.drive.objectRef
                           :app.kotoba.sheets.workbook]
 :kotoba.package/dependencies []
 :kotoba.package/signatures
 [{:did "did:key:z6Mkdraftdocs"
   :alg :ed25519
   :sig "draft-signature-replace-before-publish"}]}
